.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#blue {
  height: 20vh;
  width: 20vh;
  background-color: blue;
}
#red {
  height: 20vh;
  width: 20vh;
  background-color: red;
}
#yellow {
  height: 20vh;
  width: 20vh;
  background-color: yellow;
}
.child {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.color {
  display: flex;
  margin-top: 30px;
}
